{% if is_nested %}
	<section class="panel // js-Panel {{ panel_classes }}">
{% else %}
	<div class="panel // js-Panel js-Panel--nested {{ panel_classes }}">
{% endif %}

	{{ panel_markup|raw }}

	<nav class="js-Panel-nav">
		{% for item in panel_buttons %}
			{% include "@larva/components/c-button/c-button.twig" with item %}
		{% endfor %}
	</nav>

{% if is_nested %}
	</section>
{% else %}
	</div>
{% endif %}