{% if is_nested %}
    <section class="panel // js-Panel {{ panel_classes }}">
{% else %}
    <div class="panel // js-Panel js-Panel--nested {{ panel_classes }}">
{% endif %}
    {{ panel_markup|raw }}
{% if is_nested %}
    </section>
{% else %}
    </div>
{% endif %}